@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Fredericka+the+Great&family=Kalam:wght@400;700&display=swap');

.C-Filter{
  color: black;   
  font-family: 'Fredericka the Great', cursive;
  font-size: 25px;
}